* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    background: url('../img/background.jpg') center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



#formulario {
    color: white;
    padding: 30px 80px;
    border-radius: 5px;
    border: 2px solid  rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    flex-flow: column;
    margin-top: 15vh;
    display: flex;
    width:465px;
    gap: 7px;
    background: transparent;
    backdrop-filter: blur(40px);
}



label{
    margin-left: 10px;
    
}

#icon{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}


#formulario > input {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    padding-left: 40px;    
}

#nome_atualizado{
    background-image: url(/img/nomeatt.svg);
    background-repeat: no-repeat;
    background-position: 10px, center;
}

#nome, #nome_div{
    background-image: url(/img/user.svg);
    background-repeat: no-repeat;
    background-position: 10px, center;
}

#ano, #ano_div{
    background-image: url(/img/data.svg);
    background-repeat: no-repeat;
    background-position: 10px, center;
}

#curso, #curso_div{
    background-image: url(/img/graduation.svg);
    background-repeat: no-repeat;
    background-position: 10px, center;
}



form > label {
    font-size: 20px;
}

form > h1, #atualizar > h1 {
    text-align: center;
    font-weight: 500;
}

#btn > *{
    color: white;
    border: 1px solid black;
    transition: all 0.5s;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 6px;
    padding: 10px;
    cursor: pointer;
    background-color: gray;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#btn > :hover {
    background-color: rgb(9, 155, 58);
}

#formulario > #btn {
    display: flex;
    flex-flow: row;
    gap: 4px;
}

#result {
    flex-flow: column;
    width: 500px;
    display: flex;
    color: white;
}

#result > button {
    outline: none;
    border: none;
    border: 1px solid black;
    transition: all 0.5s;
    border-radius: 6px;
    font-size: 20px;
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#result > button:hover {
    background-color: rgb(250, 64, 64);
    color: white;
}

#result > p {
    color: white;
    font-size: 20px;
    border: 1px solid none;
    padding:10px ;
    border-radius: 5px;
    backdrop-filter: blur(40px);
    backdrop-filter: brightness(50%);
}

#result > h1 {
    text-align: center;
}

#atualizar {
    color: white;
    padding: 30px 80px;
    border-radius: 5px;
    border: 2px solid  rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    flex-flow: column;
    margin-top: 15vh;
    display: flex;
    width:465px;
    gap: 7px;
    background: transparent;
    backdrop-filter: blur(40px);
}

#atualizar > input{
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px, center;
}


#atualizar > #btn{
    justify-content: center;
    display: flex;
    gap: 10px;
}


.erro {
    color: red;
}

.erro:focus {
    box-shadow: 0px 0px 0px 3px red;
}

@media (min-width: 344px) and (max-width: 768px){
    #formulario {
        margin: 20px;
        margin-top: 60px;
        width: 400px;
        gap: 2px;
        padding: 20px 26px;
    }

    #formulario > i {
        font-size: 60px;
    }

    #formulario > h1 {
        font-size: 40px;
        margin: 20px;
    }
   
    #formulario > #btn {
        flex-flow: column;
    }

    #btn > button {
        font-size: 20px;
        padding: 3px;
    }

    #formulario > input {
        padding: 10px;
        padding-left: 43px;
        background-size: 30px;
        border-radius: 30px;
        font-size: 15px;
    }

    #formulario > label {
        font-size: 22px;
    }

    #result {
        margin: 20px;
        gap: 2px;
    }

    #result > p {
        font-size: 22px;
    }

    #result > button {
        font-size: 20px;
        padding: 3px;   
    }

    #result > h1 {
        font-size: 40px;
    }
}
/*
@media (max-width: 632px){
    #formulario {
        margin-top: 10px;
    }

    #formulario > i {
        font-size: 75px;
    }

    #formulario > h1 {
        font-size: 55px;
        margin: 15px;
    }
   
    #formulario > #btn {
        flex-flow: column;
    }

    #btn > button {
        font-size: 30px;
        padding: 3px;
    }

    #formulario > input {
        padding: 15px;
        padding-left: 50px;
        background-size: 36px;
        border-radius: 30px;
        font-size: 20px;
    }

    #formulario > label {
        font-size: 30px;
    }
}*/